<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117458125523-7kg7tlpj921h03cam50j3oqcjh9i1bq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117458125523-7kg7tlpj921h03cam50j3oqcjh9i1bq6</string>
	<key>API_KEY</key>
	<string>AIzaSyBaoeRmgON3dLbNpg-8cNHEaRSi78PWZd4</string>
	<key>GCM_SENDER_ID</key>
	<string>117458125523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uluredien.Foody</string>
	<key>PROJECT_ID</key>
	<string>foodorderinapp-5ffec</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorderinapp-5ffec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117458125523:ios:950af93c0ee92d0de78a26</string>
</dict>
</plist>